/* ======= HEADER GRADIENTE ======= */

.pago-header {
    width: 100%;
    padding: 35px 20px;
    text-align: center;
    background: linear-gradient(90deg, #7c2ae8);
    color: white;
  }
  
  .pago-header h1 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  
  /* ======= CONTENEDORES ======= */
  
  .pago-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
  }
  
  .image-section img {
    width: 430px;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  }
  
  
  /* ======= CONTENIDO ======= */
  
  .content-section {
    flex: 1;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 800;
    color: #222;
    margin-bottom: 10px;
  }
  
  .intro {
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  h3 {
    font-size: 20px;
    margin: 10px 0 10px 0;
    color: #333;
    font-weight: 700;
  }
  
  .block {
    margin-bottom: 25px;
    position: relative;
    padding-left: 55px;
  }
  
  .icon-circle {
    position: absolute;
    left: 0;
    top: 5px;
    width: 38px;
    height: 38px;
  }  