@keyframes fadeUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slideLeft {
    0% { opacity: 0; transform: translateX(-40px); }
    100% { opacity: 1; transform: translateX(0); }
  }
  
  @keyframes pop {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  
  @keyframes bounceSlow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
  }
  
  .animate-fadeUp {
    animation: fadeUp 0.8s ease-out forwards;
  }
  
  .animate-slideLeft {
    animation: slideLeft 0.9s ease-out forwards;
  }
  
  .animate-fade {
    animation: fade 0.6s ease-out forwards;
  }
  
  .animate-pop {
    animation: pop 0.4s ease-out forwards;
  }
  
  .animate-bounceSlow {
    animation: bounceSlow 1.6s ease-in-out infinite;
  }
/*testimonios*/
@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.97);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .animate-fadeSlideUp {
    animation: fadeSlideUp 0.7s ease-out forwards;
  }
  