@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg 
    focus:outline-none focus:ring-2 focus:ring-[#04BF20] 
    focus:border-[#04BF20] text-sm bg-white;
  }
  
  .label {
    @apply text-sm font-medium text-gray-700 mb-1 block;
  }
  
  .field {
    @apply flex flex-col gap-1;
  }
  